<br>
<div class="row">
  <div class="col xl12 l12 m12 s12">
<%= form_for(periodo) do |f| %>
  <% if periodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(periodo.errors.count, "error") %> prohibited this periodo from being saved:</h2>

      <ul>
      <% periodo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :inicio %>
    <%= f.text_field :inicio %>
  </div>

  <div class="field">
    <%= f.label :fin %>
    <%= f.text_field :fin %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>



      <div class="row">
        <div class="col xl12 l12 m12 s12 right-align">
          <div class="actions">
            <%= f.submit 'Aceptar', :class => 'waves-effect waves-teal btn' %>
          </div>
        </div>
      </div>

<% end %>
  </div>
</div>
