<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col l4">
<h1>Semestres</h1>
  </div>
</div>

<div class="row">
  <div class="col xl12 l12 m12 s12 right-align">
    <%= link_to 'Agregar Semestre', new_semester_path,  { :class=>"waves-effect waves-green btn"} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col xl12 l12 m12 s12">
    <div class="resposible-table">
<table id="semestres"  class="highlight centered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Nombre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.clave %></td>
        <td><%= semester.nombre %></td>
        <!--<td><%#= link_to 'Mostrar', semester %></td>-->
        <td><%= link_to '<i class="small material-icons color-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Editar">edit</i>'.html_safe, edit_semester_path(semester) %></td>
        <td><%= link_to '<i class="small material-icons color-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Eliminar">delete</i>'.html_safe, semester, method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>

<br>

<script type="text/javascript">
    $(document).ready(function() {
         $("#semestres").dataTable();
    });

    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>