<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col l4">
    <h4>
      Alumnos
    </h4>
  </div>
</div>

<div class="row">
  <div class="col xl12 l12 m12 s12 right-align">
    <%= link_to 'Agregar Alumno', new_alumno_path,  { :class=>"waves-effect waves-green btn"} %>
  </div>
</div>

<hr>
<table id="carreras" class="highlight centered  responsive-table">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Curp</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.clave %></td>
        <td><%= alumno.curp %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido_paterno %></td>
        <td><%= alumno.apellido_materno %></td>
        <td><%= alumno.correo %></td>
        <td><%= link_to 'Mostrar', alumno %></td>
        <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Esta seguro que desea eliminar al Alumno?' } %></td>
        <td> <%= link_to '<i class="small material-icons color-icons">edit</i>'.html_safe, edit_alumno_path(alumno) %> </td>
        <td> <%= link_to '<i class="small material-icons color-icons">delete</i>'.html_safe,  alumno, method: :delete, data: { confirm: 'Esta seguro que desea eliminar al Alumno?' } %> </td>

      </tr>
    <% end %>
  </tbody>
</table>
