<p id="notice"><%= notice %></p>

<h1>Profesors</h1>

<table>
  <thead>
    <tr>
      <th>Rfc</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Grado academico</th>
      <th>Grado academico abreviado</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Domicilio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
        <td><%= profesor.rfc %></td>
        <td><%= profesor.nombre %></td>
        <td><%= profesor.apellido_paterno %></td>
        <td><%= profesor.apellido_materno %></td>
        <td><%= profesor.grado_academico %></td>
        <td><%= profesor.grado_academico_abreviado %></td>
        <td><%= profesor.correo %></td>
        <td><%= profesor.telefono %></td>
        <td><%= profesor.domicilio %></td>
        <td><%= link_to 'Mostrar', profesor %></td>
        <td><%= link_to 'Editar', edit_profesor_path(profesor) %></td>
        <td><%= link_to 'Eliminar', profesor, method: :delete, data: { confirm: 'Esta seguro que desea eliminar al Profesor?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Profesor', new_profesor_path %>
