<main class="conteiner-horizontal-center">
	<div class="children1" align="center">
		
		<div id="logotipo2">
			<br>
			<img src="/assets/contra-fe813fb3a9915e692552da9c83ac2bb60609e96bf7e7313b45b64d2526fbc0dc.ico"  style="width :100px" class="circle" alt="Contra" /> 
			<!-- <h2>¿Olvidaste tu contraseña?</h2>	-->
		</div>
		

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
 		 <%= devise_error_messages! %>

  		<div class="input-field col s12">
  		 	 <%= f.label :correo %><br />
   			 <%= f.email_field :email, autofocus: true %>
	  	</div>
	  	<br>
 	 	<div class="btn waves-effect waves-light actions">
   			 <%= f.submit "Enviarme instrucciones" %>
  		</div>
		<% end %>
		<a href="/login">Iniciar sesión</a><br />
		<!-- <%= render "devise/shared/links" %>   -->
 
	</div>
</main>

