<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col l12">
<h1>Plan de Estudios</h1>
  </div>
</div>

<div class="row">
  <div class="col xl12 l12 m12 s12 right-align">
    <%= link_to 'Agregar Plan de Estudios', new_plan_estudio_path ,  { :class=>"waves-effect waves-green btn"} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col xl12 l12 m12 s12">
    <div class="resposible-table">
<table id='planes'>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Semestre</th>
      <th>Inicio vigencia</th>
      <th>Fin vigencia</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_estudios.each do |plan_estudio| %>
      <tr>
        <td><%= plan_estudio.clave %></td>
        <td><%= plan_estudio.semestre %></td>
        <td><%= plan_estudio.inicio_vigencia %></td>
        <td><%= plan_estudio.fin_vigencia %></td>
        <td><%= link_to '<i class="small material-icons color-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Editar">edit</i>'.html_safe, edit_plan_estudio_path(plan_estudio)%></td>
        <td><%= link_to '<i class="small material-icons color-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Eliminar">delete</i>'.html_safe, plan_estudio, method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
    </div>
  </div>
</div>
      <br>



<script type="text/javascript">
    $(document).ready(function() {
         $("#planes").dataTable();
    });

    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>