<br>
<div class="row">
  <div class="col xl12 l12 m12 s12">

  <%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%#= form.text_field :asignatura_id, id: :curso_asignatura_id %>
    <%= form.collection_select :asignatura_id, Asignatura.all, :id, :nombre, { prompt: "Seleccione una Asignatura" }, class: "browser-default" %>
  </div>


  <div class="field">
    <%= form.label :periodo_id %>
    <%#= form.text_field :periodo_id, id: :curso_periodo_id %>
    <%= form.collection_select :periodo_id, Periodo.all, :id, :nombre, { prompt: "Seleccione un Periodo" }, class: "browser-default" %>
  </div>

  <div class="field">
    <%= form.label :profesor_id %>
    <%#= form.text_field :profesor_id, id: :curso_profesor_id %>
    <%= form.collection_select :profesor_id, Profesor.all, :id, :nombre, { prompt: "Seleccione un Profesor" }, class: "browser-default" %>
  </div>

  <div class="row">
    <div class="col xl12 l12 m12 s12 right-align">
      <div class="actions">
        <%= form.submit 'Aceptar', :class => 'waves-effect waves-teal btn' %>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>