<p id="notice"><%= notice %></p>

<p>
  <strong>Alumno:</strong>
  <%= @record.alumno %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @record.periodo %>
</p>

<p>
  <strong>Plan estudio:</strong>
  <%= @record.plan_estudio %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @record.semester %>
</p>

<p>
  <strong>Studentship:</strong>
  <%= @record.studentship %>
</p>

<p>
  <strong>Average:</strong>
  <%= @record.average %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
