<div grid>
  <div card="back">
    <br>
<!--    <p class="headline">Universidad Tecnológica de la Mixteca</p>-->
    <p class="txt-body  ">División Universidad Virtual</p>
    <p> <%= image_tag("/assets/logouni.jpg", :alt => "logo", :title => "Home", :size=>"150x150")%> </p>
  </div>
  <div card="front">
    <p class="title">Acceso</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :email, autofocus: true, placeholder: "Correo" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
      <%= f.submit "Ingresar", btn: "primary" %>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>