<main class="conteiner-vertical-center">
  <div class="children" align="center">

      <div id="logotipo">
        <img  src="/assets/logo-241a65da2a5331df3e201a062c4c2c23af127ccf96480c8d5d4dbfb5a1a2d698.png" alt="Logo" style="width: 150px" class="circle" id = "img_user_temp">
      </div>
      <br><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-field col s12">
            <%= f.label "Correo" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          <br>
          <div class="input-field col s12">
            <%= f.label "Contraseña" %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          </br>
        <div class="input-field col s12">
          <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label "Recordar" %>

          <% end -%>
        </div>
        </br>

          <div  class="btn waves-effect waves-light actions">
            <%= f.submit "Ingresar" %>
            <i class="material-icons">send</i>
          </div>



      <% end %>
      </br>
    <%= render "devise/shared/links" %>
  </div>

</main>