<!DOCTYPE html>
<html>
  <head>
    <title>Univi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <div class="center-align">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>
  <div class="right-align">

    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <% if user_signed_in? %>
      <p>Bienvenido : <b><%= current_user.email %></b></p>
          <%end%>
    </ul>

  </div>

    <%= yield %>
  </body>
</html>

