<!DOCTYPE html>
<html>
  <head>
    <title>Univi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <% if user_signed_in? %>
  <div id="contenedor">
    <div id="header">
      <%= render '/layouts/header' %>
    </div>
    <div class="right-align">
      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
  <br><br>
  <div class="row">
    <%= render '/layouts/menu' %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col xl12 l12 m12 s12">
        <div class="card-panel  color-fondo">
          <%= yield %>
        </div>
      </div>
      <div class="center-align">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
  </div>

    <footer class="page-footer">
      <%= render 'layouts/footer' %>
    </footer>
  <% else %>
    <div class="fondo-sesion">
      <%= yield %>
    </div>
  <% end %>
  </body>


</html>
