<!DOCTYPE html>
<html>
  <head>
    <title>Univi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div id="contenedor" ng-app="univi">
      <div id="header">
         <img src="/assets/uvirtual-ea01ed0a7b5391a1983b601e2800536a6c49ad3b85bf61f2f1fd5f06289d698e.gif" alt="Uvirtual" width="1300" height="150" />
      </div>
    <div class="right-align">
      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
        <% if user_signed_in? %>
        <p>Bienvenido : <b><%= current_user.email %></b></p>
          <%end%>
      </ul>
    </div>
    <div id="nav">
      <%= render '/layouts/menu' %>
    </div>
  </head>

  <body>
    <section id="contenido">
      <article>
         <%= yield %>
        <div class="center-align">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </article>
    </section>
    <aside>
      <h2>Publicidad</h2>
    </aside>
  </body>
  <footer>
    <label>Carretera a Acatlima Km. 2.5</label>
  </footer>
</html>
